html { 
    font-size: 13px;
    padding: 1%;
    border: 1px solid black;
    background: silver;
}

hr {
    background-color: #333; /* Black color */
}

.sub-sections {
    text-align: center;
    text-decoration: underline;
}

.col-md-4 {
    border: 1px solid black;   
}

.progress {
    border: 1px solid black;
}

.space {
    margin: 3px;
}